/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/* General Rules */
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Yosemite_Valley_from_Wawona_Tunnel_view%2C_vista_point..JPG/1200px-Yosemite_Valley_from_Wawona_Tunnel_view%2C_vista_point..JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

div {
    line-height: 200%;
    text-align: center;
}

/* Header */
h1 {
    font-family: Indie Flower;
}

.search {
    margin: auto;
}

h1, form {
    text-align: center;
}

h1 {
    margin-bottom: 0%;
}

header {
    font-size: 14px;
}
input {
    width: 200px;
    height: 23px;
    font-size: 14px;
}

button {
    height: 23px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    background-color: #8c8c8c;
}

/* Main */
h2, h3, h4, h5, p {
    font-family: PT Serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 110%;
    font-weight: bold;
    text-decoration: underline;
}

.box {
    border: 1pt solid black;
    background-color: rgb(204, 229, 255, 0.8);
    height: 500px;
}

.hike-result img {
    width: 85%;
    height: 216px;
    margin: auto;
    padding-top: 10px;
}

.results {
    padding-top: 20px;
}

.row {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    text-align: center;
    margin: auto;
    background-color: rgb(159, 223, 159, 0.8);
    width: 100%;
}
